<div class="dashboard-container">
  <mat-toolbar color="primary">
    <span class="username">MeZa</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar>
  <div class="main-content">
    <div class="card user-list-card">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
        <div class="card-header-actions">
          <button mat-raised-button color="primary">New User</button>
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Search Users">
          </mat-form-field>
        </div>
      </mat-card-header>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table class="table align-middle text-nowrap" [dataSource]="users">
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef class="text-dark font-medium fs-4">Username</th>
              <td mat-cell *matCellDef="let user">{{user.username}}</td>
            </ng-container>
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef class="text-dark font-medium fs-4">First Name</th>
              <td mat-cell *matCellDef="let user">{{user.firstname}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef class="text-dark font-medium fs-4">Last Name</th>
              <td mat-cell *matCellDef="let user">{{user.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="text-dark font-medium fs-4">Role</th>
              <td mat-cell *matCellDef="let user">{{user.role}}</td>
            </ng-container>
            <ng-container matColumnDef="mfaEnabled">
              <th mat-header-cell *matHeaderCellDef class="text-dark font-medium fs-4">MFA Enabled</th>
              <td mat-cell *matCellDef="let user">{{user.mfaEnabled}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="pagination-container"></div>
      </div>
    </div>
  </div>

</div>
